

































/* for-screen */
@media screen and (max-width: 768px) {
    .content {
        width: 90%; /* Increase content width on smaller screens */
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    .content {
        width: 100%; /* Take up full width on very small screens */
        padding: 10px;
    }